<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="expo.modules.musicwidget">
    <application>
        <receiver android:name=".MusicWidgetProvider1x4" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_1x4_info" />
        </receiver>
        
        <receiver android:name=".MusicWidgetProvider2x4" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x4_info" />
        </receiver>
    </application>
</manifest>
